@import "tailwindcss";

 
.nav-box.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/* Stroke Text */
.stroke-text {
    color: rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.4px;
    -webkit-text-stroke-color: white;
}

/* Scroll to Top */
.scrolltotop.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/* Testimonial Slider Pagination */
.swiper-testimonial-pagination.swiper-pagination-progressbar,
.swiper-testimonial-pagination.swiper-pagination-horizontal {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    left: 310px; /* assuming this is the lg:left value */
    left: 330px; /* assuming this is the xl:left value */
    z-index: 1;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
    width: auto;
    height: 2px;
    border-radius: 2px;
}

.swiper-testimonial-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.swiper-testimonial-pagination.swiper-pagination-horizontal .swiper-pagination-progressbar-fill {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 154, 0, 1) 100%); /* replace with your theme gradient */
}

/*------------------------------------------------
    Contact form submit result
-------------------------------------------------*/
.submit-result span {
    display: none;
    transition: opacity 200ms ease-out;
}

.submit-result span.show-result {
    display: block;
    margin-top: 1.5rem;
}

/*------------------------------------------------
    Page Preloader
-------------------------------------------------*/
.loaded .preloader {
    visibility: hidden;
    opacity: 0;
}

/* Animation Delay */
.animation-delay-100 {
    animation-delay: 100ms;
}

.animation-delay-200 {
    animation-delay: 200ms;
}

.animation-delay-300 {
    animation-delay: 300ms;
}

.animation-delay-400 {
    animation-delay: 400ms;
}

.animation-delay-500 {
    animation-delay: 500ms;
}

.animation-delay-600 {
    animation-delay: 600ms;
}


